<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready to get started?</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Consequuntur cumque quod aliquid maiores consectetur sint quia suscipit eligendi, 
                pariatur doloribus, hic quo. 
                Laborum quas ipsum quam commodi? Nobis, velit saepe!
            </p>
        </div>
        <button href="#" class="btn btn--secondary btn--streched">Get Started</button>
    </div>
</div>