<div class="media">
    <div class="media__image">
        <svg class="icon">
            <use xlink:href="./assets/images/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start and Managed Updates</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Animi ab nobis quisquam ratione veritatis, asperiores aut consequatur. 
            Placeat, officia aliquid? 
            Eos deserunt eveniet molestias nostrum et, obcaecati similique ipsam nisi.
        </p>
    </div>
</div>