<blockquote class="quote">
    <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, 
        nostrum! Nam officia aperiam illo saepe quidem provident tempore quo neque recusandae 
        consequuntur? 
        Minus corrupti voluptatum asperiores placeat maiores, voluptatem accusamus.
        Est explicabo repellendus vitae sint perferendis quam! Qui rem mollitia, 
        doloremque laborum, ea magnam eum, eligendi ut quis fugiat ipsum iure? 
        Nesciunt molestias facere quidem eaque rem culpa praesentium vero.
    </p>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quote__line">
                    <use xlink:href="./assets/images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__oranization">
                    ABC Company
                </p>
            </div>
        </div>
    </footer>
</blockquote>