<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2 class="block__heading">User-Friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2">
        <picture class="block-showcase__image">
            <source type="image/webp" srcset="./assets/images/ipad.webp 1x, ./assets/images/ipad@2x.webp 2x"/>
            <source type="image/png" srcset="./assets/images/ipad.png 1x, ./assets/images/ipad@2x.png 2x"/>
            <img src="./assets/images/ipad.png" alt=""/>
        </picture>
        <ul class="list">
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon">
                            <use xlink:href="./assets/images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy Start and Managed Updates</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Animi ab nobis quisquam ratione veritatis, asperiores aut consequatur. 
                            Placeat, officia aliquid? 
                            Eos deserunt eveniet molestias nostrum et, obcaecati similique ipsam nisi.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon">
                            <use xlink:href="./assets/images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy Start and Managed Updates</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Animi ab nobis quisquam ratione veritatis, asperiores aut consequatur. 
                            Placeat, officia aliquid? 
                            Eos deserunt eveniet molestias nostrum et, obcaecati similique ipsam nisi.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon">
                            <use xlink:href="./assets/images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy Start and Managed Updates</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Animi ab nobis quisquam ratione veritatis, asperiores aut consequatur. 
                            Placeat, officia aliquid? 
                            Eos deserunt eveniet molestias nostrum et, obcaecati similique ipsam nisi.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>